.container {
  width: 80%;
  height: 100vh;
  margin: auto;
  font-size: 1.2rem;
}

.center {
  text-align: center;
  margin-top: 100px;
}

.major {
  font-size: 3.3rem;
  font-weight: 500;
}

.word {
  font-size: 2rem;
}